<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://normal-competiton-processor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a4ac6380-14a9-4da8-a54d-2822b1d7cfcf/resourceGroups/365-scores-test/providers/Microsoft.Web/sites/normal-competiton-processor</ResourceId>
    <UserName>$normal-competiton-processor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://normal-competiton-processor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>